# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# Logs
logs/
*.log

# Uploads
uploads/

# Test cache
.pytest_cache/

# VS Code
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db

# Build
dist/
build/